
.dialog-off-canvas-main-canvas{
    background: #EF5764;
    padding: 30px 0px;
}
.container{
    background-color: #F1F2F6;
    min-width: 90%;
    .row{
        padding: 30px 0px;
    }
}
